@keyframes moveToRight {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        opacity: 0.2;
        transform: translateX(2rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveToLeft {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        opacity: 0.2;
        transform: translateX(-2rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    /* 80% {
        opacity: 0.2;
        transform: translateX(-20px);
    } */

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes rotateClock {
    0% {
        opacity: 1;
        transform: rotate(0);
    }

    50% {
        opacity: 0;
        transform: rotate(120deg);
    }

    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}
